<p>
  edit-user works!
</p>
<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <br>
  <a [routerLink]="'/admin-user'"> Admin dashboard</a><br>
  <a [routerLink]="'/list-user'">Back to  Manage user</a><br>
  <a [routerLink]="''" (click)="onLogout()"> Log out </a><br>
  <br>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
      <label for="UserName">Username:</label>
      <input type="text" formControlName="username" class="form-control" id="Username">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" class="form-control" id="Password">
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="title" formControlName="title" class="form-control" id="Title">
    </div>

    <div class="form-group">
      <label for="user_type">User Type</label>
      <select formControlName="user_type" class="form-control" id="user_type" [(ngModel)]="lists[1].value">
        <option *ngFor="let item of lists" value={{item.value}}>
                {{item.label}}
        </option>
      </select>
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>

