<p>
  add-workload works!
</p>

  <a [routerLink]="''" (click)="onLogout()"> Log out </a><br>
  <a [routerLink]="'/list-workload'">Manage Workload</a><br>
  <a [routerLink]="'/client-user'">Client Dashboard</a><br>
 
  
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add Workload</h4>
      </div>
<form [formGroup]="addWorkLoadForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group" hidden>
          <label hidden>User Account</label>
          <input type="text" class="form-control" formControlName="userAccountId" hidden>
        </div>
        <div class="form-group">
          
          <label for="case_type">Case Type</label>
          <select formControlName="case_type" class="form-control" id="case_type" [(ngModel)]="lists[1].value">
             <option *ngFor="let item of lists" value={{item.value}}>
               {{item.label}}
             </option>
           </select>
        </div>
	<div class="form-group">
          <label>Case Purpose</label>
          <input type="text" class="form-control" formControlName="case_purpose">
          <small *ngIf="!addWorkLoadForm.controls.case_purpose.valid" class="text-danger">case purpose  is required </small>
        </div>
	<div class="form-group">
          <label>Subject</label>
          <input type="text" class="form-control" formControlName="subject">
          <small *ngIf="!addWorkLoadForm.controls.subject.valid" class="text-danger">Subject is required </small>
        </div>
	<div class="form-group">
          <label>Product Line</label>
          <input type="text" class="form-control" formControlName="product_line">
          <small *ngIf="!addWorkLoadForm.controls.product_line.valid" class="text-danger">Product line is required </small>
        </div>
	<div class="form-group">
          <label>Archive</label>
          <input type='checkbox' formControlName='archive' >
        </div>
        <div class="form-group">
          <label>Request Detail</label>
          <textarea row="4" cols="50" formControlName="case_request_detail" class="form-control"></textarea>
          <small *ngIf="!addWorkLoadForm.controls.case_request_detail.valid" class="text-danger">request detail is required </small>
        </div>


        <!--keyword-->

        <div formArrayName="keywordList" hidden>
          <div *ngFor="let keyword of addWorkLoadForm.controls.keywordList['controls']; let i=index" class="panel panel-default" hidden>
            <div hidden>
              <span hidden>Keyword count: {{i + 1}}</span>
              <a *ngIf="addWorkLoadForm.controls.keywordList.controls.length > 1" (click)="removeKeyword(i)" hidden>Remove keyword </a>
            </div>
            <div hidden [formGroupName]="i">
              <div class="form-group col-xs-6" hidden>
                <label hideen>Keyword</label>
                <input type="hidden" class="form-control" formControlName="word">
              </div>
              <div class="form-group col-xs-6" hidden>
                <label hideen>id</label>
                <input type="hidden" class="form-control" formControlName="id">
              </div>
              <div class="form-group col-xs-6" hidden>
                <label hideen>Workload Id</label>
                <input type="hidden" class="form-control" formControlName="workloadId">
              </div>

              <div class="form-group col-xs-6" hidden>
 
              </div>
            </div>
          </div>
        </div>
        <div hidden>
          <a (click)="addKeyword()" style="cursor: default" hidden>Add another keyword + </a>
        </div>

        <!-- contact -->
       <fieldset formGroupName="contact_info">
	<div class="form-group">
          <label>First</label>
          <input type="text" class="form-control" formControlName="First" required>
        </div>
        <div class="form-group">
          <label>Last</label>
          <input type="text" class="form-control" formControlName="Last" required>
        </div>
        <div class="form-group">
          <label>Email</label>
	  <input type="text" class="form-control" formControlName="email" required>
      
        </div>
        <div class="form-group">
          <label>Company Name</label>
          <input type="text" class="form-control" formControlName="company" required>
        </div>
        <div class="form-group">
          <label>Phone number</label>
          <input type="text" class="form-control" formControlName="phone_number" required>
        </div>
        </fieldset>
	<div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!addWorkLoadForm.valid">Submit</button>
        </div>
	<div class="clearfix"></div>

</form>

  

    </div>
  </div>
</div>
 
