<p>
  list-user works!
</p>
<div class="col-md-6">
  <h2> User Details</h2>
  <br>
  <a [routerLink]="'/admin-user'"> Admin dashboard</a><br>
  <button class="btn btn-danger" (click)="addUser()"> Add User </button>
  <button class="btn btn-danger" (click)="onLogout()"> Log Out </button>
  <table class="table table-striped">
    <thead>
    <tr>

      <th class="not-visible">Id</th>
      <th>Username</th>
      <th>Title</th>
      <th>User Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="not-visible">{{user.id}}</td>
      <td> {{user.username}} </td>
      <td> {{user.title}} </td>
      <td> {{ user.user_type==0 ? 'client': user.user_type==1?'reg':'admin' }}  </td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>

</div>
