<p>
  search works!
</p>
<a [routerLink]="''" (click)="onLogout()"> Log out </a><br>
<a [routerLink]="''" (click)="onManageWorkload()"> Manage Workload </a><br>
<a [routerLink]="''" (click)="onDashBoard()">User Dashboard </a><br>
<a [routerLink]="''" (click)="onSearch()"> Search </a><br>

<div class="container-fluid">
<div>
   <p>Search</p>
    <div>
       <form [formGroup]="subForm">
         <div class="form-group">
          <label>Search Word</label>
          <input type="text" formControlName="search_keyword" class="form-control">
         </div>
         <button class="btn btn-danger" (click)="onSubmit()"> Search</button>
       </form>   
    </div>
</div>
<div>
<p>Your list of cases</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Case type</th>
      <th>Case purpose</th>
      <th>Subject</th>
      <th>product line<th>
      <th>Case Request detail</th>
      <th>User account</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let workload2 of workloadsUsers">
      <td>{{workload2.id}}</td>
      <td> {{workload2.case_type}} </td>
      <td> {{workload2.case_purpose}} </td>
      <td> {{workload2.subject}}  </td>
      <td> {{workload2.product_line}}  </td>
      <td> {{workload2.case_request_detail}}  </td>
      <td> {{workload2.userAccountId}}<td>
      <td>
         <button class="btn btn-danger" (click)="onView(workload2)"> View </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>

